<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>עמית חברון Devops קורס</title>
</head>

<body>
    <header>
        <h1>בעברית - בהובלת המנחה החתיך ברמה בלתי מוסברת - עמית חברון Devops קורס </h1>
    </header>
    <div class="container">


        <nav class="side-nav">
            <ul>
                <li><a href="#">הקדמה כללית לקורס</a></li>
                <li><a href="#">aws - היכרות מעמיקה עם תשתית ענק והכוונה להסמכת שירותי ענן באמזון <span
                            style="color: black;"> בהכנה</span></a></li>
                <li><a href="/docker">Docker -פלטפורמה טכנולוגית שמאפשרת לך לארוז, להריץ ולנהל אפליקציות בצורה נפרדת
                        ובידידותיות לסביבת הפיתוח שלך </a></li>
                <li><a href="#">Git - תוכנה לניהול גרסאות <span style="color: black;"> בהכנה</span></a></li>
                <li><a href="#">Linux - שפת תכנות <span style="color: black;"> בהכנה</span></a></li>
                <li><a href="#">Java - שפת תכנות<span style="color: black;"> בהכנה</span> </a></li>
                <li><a href="#">python - שפת תכנות <span style="color: black;"> בהכנה</span> </a></li>
                <li><a href="#">database - mySql <span style="color: black;"> בהכנה</span> </a></li>
                <li><a href="#">Jenkins - שרת אוטומציה<span style="color: black;"> בהכנה</span></a></li>
                <li><a href="#">Kubernetes - מערכת קוד פתוח לניהול יישומים <span style="color: black;">בהכנה</span></a>
                </li>
            </ul>
        </nav>
        {% block content %}

        {% endblock %}

    </div>
</body>