<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>עמית חברון Docker קורס</title>
</head>

<body>
    <header>
        <h1>בעברית - בהובלת עמית חברון Docker קורס </h1>
    </header>
    <div class="container">
        <nav class="side-nav">
            <ul>
                <li><a href="#">הקדמה כללית לקורס</a></li>
                    <a href="/lesson1">
                        שיעור 1 :מבוא לדוקר - 12 דקות
                        <ul>
                            <li>מה זה דוקר?</li>
                            <li>יתרונות השימוש בדוקר</li>
                            <li>ההבדל בין דוקר לבין מכונה וירטואלית</li>
                        </ul>
                    </a>
                </li>
                <li><a href="/lesson2">
                        שיעור 2 :יסודות דוקר - 29 דקות
                        <ul>
                            <li>התקנת דוקר על המחשב</li>
                            <li>המבנה של דוקר</li>
                            <li>אימגים וקונטיינרים</li>
                        </ul>
                    </a>
    
                </a></li>
                <li><a href="/lesson3">
                        שיעור 3 :יצירה וניהול קונטיינרים - 16 דקות
                        <ul>
                            <li>אפשרויות הרצת דוקר</li>
                            <li>שמות לקונטיינרים</li>
                            <li>מצב אינטרקטיבי לעומת מנותק</li>
                            <li>ביצוע פקודות בקונטיינרים</li>
                        </ul>
                    </a>
    
                </a></li>
                <li><a href="#">    
                    שיעור 4 :עבודה עם  Docker image
                    <ul>
                        <li>יצירת Docker image</li>
                        <li>יסודות Dockerfile</li>
                        <li> docker hub - דחיפת אימגים ל</li>
                    </ul>   
                        </a></li>
                <li><a href="#">      </span> </a></li>
                <li><a href="#">      </span> </a></li>
                <li><a href="#">       </span> </a></li>
                <li><a href="#">        </span></a></li>
                <li><a href="#">      </span></a></li>
            </ul>
        </nav>
    
        {% block content %}

        {% endblock %}

    </div>
</body>