{% extends "base.html" %}

{% block content %}
<div class="sirton">
    <h1>Docker</h1>
    <ul>
        <li>
            <a href="#">
                שיעור 1 :מבוא לדוקר - 56 דקות
                <ul>
                    <li>מה זה דוקר?</li>
                    <li>יתרונות השימוש בדוקר</li>
                    <li>ההבדל בין דוקר לבין מכונה וירטואלית</li>
                </ul>
            </a>
        </li>
        <li><hr></li> 
        <li><a href="#">שיעור 2</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 3</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 4</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 5</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 6</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 7</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 8</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 9</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 10</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 11</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 12</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 13</a></li>
        <li><hr></li>
        <li><a href="#">שיעור 14</a></li>
        <li><hr></li> 
        <li><a href="#">שיעור 15</a></li>
    </ul>
</div>


{% endblock %}
