<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>עמית חברון Devops קורס</title>
</head>
<body>
    <header>
        <h1>בעברית - בהובלת המנחה החתיך ברמה בלתי מוסברת  - עמית חברון Devops קורס </h1>
    </header>
    <div class="container">

   
    <nav class="side-nav">
        <ul>
            <li><a href="#">הקדמה כללית לקורס</a></li>
            <li><a href="#">aws - היכרות מעמיקה עם תשתית ענק והכוונה להסמכת שירותי ענן באמזון - <span style="color: black;">בהכנה</span></a></li>
            <li><a href="/docker">Docker -פלטפורמה טכנולוגית שמאפשרת לך לארוז, להריץ ולנהל אפליקציות בצורה נפרדת ובידידותיות לסביבת הפיתוח שלך </a></li>
            <li><a href="#">Git -  <span style="color: black;">בהכנה</span> - תוכנה לניהול גרסאות</a></li>
            <li><a href="#">Linux - <span style="color: black;">בהכנה</span></a></li>
            <li><a href="#">Java -  <span style="color: black;">בהכנה</span> - שפת תכנות</a></li>
            <li><a href="#">python - <span style="color: black;">בהכנה</span> - שפת תכנות</a></li>
            <li><a href="#">database - mySql  - <span style="color: black;">בהכנה</span> </a></li>
            <li><a href="#">Jenkins - <span style="color: black;">בהכנה</span> - שרת אוטומציה</a></li>
            <li><a href="#">Kubernetes - <span style="color: black;">בהכנה</span> - מערכת קוד פתוח לניהול יישומים</a></li>
        </ul>
    </nav>
    <main style="display: flex; justify-content: space-between; padding: 50px;">

    <div  class="about">
        על הקורס :
       כיום כל הקורסים, הסרטונים וההסברים שיש באינטרנט על דבאופס ועל הנושאים הקשורים אל המקצוע הם כולם באנגלית.
       שלא תבינו אותי לא נכון, כמובן שחיובי להשתמש בשפה האנגלית וחובה לשלוט בה, אך מצד שני הרבה יותר קשה ללמוד איתה, בטח בטח מקצוע תובעני ונושאים מסובכים שמתחילים ללמוד מהבסיס.
       אז כאן אני נכנס לתמונה ומציע לכם פתרון, הקורס שלי נותן מענה קל, פשוט, נוח ונגיש ולבעיה הזאת.
       כאן בקורס פישטתי את כל הנושאים המקצועיים הספציפיים שיש ללמוד על מנת להצליח להבין את עולם הדבאופס.
       הקורס מכיל בתוכו סרטונים בעברית שלי שבהם אני עובר על הטכנולוגיות השונות של דבאופס במגוון נושאים וכל נושא מחולק לתתי קטגוריות, כך שזה גם נוח אם אתה רוצה להתמקד בנושא ספציפי. 
       סרטונים שהכנתי של כל טכנולוגיה מלווים במצגות עשירות מחולקים לשיעורים, חלק מהנושאים הם דוקר, קוברנטיס, גיט, פלאסק, aws, לינוקס,גאבה,פייתון ועוד.
       הקורס מכיל הסבר על מה זה בעצם דבאופס ? למה חברה צריכה את זה ? מה חברות מחפשות באיש דבאופס? ואיך אני יכול להיות איש דבאופס מצליח.
    </div>
    <div class="this">
        קורס דבאופס הינו קורס בתשלום
        מחיר הקורס : 0 ש"ח
        מלבד סרטון ההקדמה שמסביר ומפרט על מהות הקורס עצמה, שאר הסרטונים ייפתחו לאחר ההרשמה 
        <section" id="signup">
        <h2>הרשמה לקורס</h2>
        <form>

            <label for="full-name">שם מלא:</label>
            <input type="text" id="full-name" name="full-name" required>
            <label for="phone">טלפון:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">אימייל:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="להרשמה לחץ כאן">
        <p>כבר רשום? <a href="#">לחץ כאן</a></p>
    </form>
    </section>
    </div>
    
    </main>
</div>
</body>
</html>
