<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title> עמית חברון - Docker קורס</title>
</head>
<body>
    <header>
        <h1> בעברית - בהובלת עמית חברון Docker קורס </h1>
    </header>
    <div class="container">
        <nav class="side-nav">
            <ul>
                <li><a href="#">הקדמה כללית לקורס</a></li>
                <li>
                    <a href="/lesson1">
                        שיעור 1 :מבוא לדוקר - 12 דקות
                       
                    </a>
                </li>
                <hr>
                <li>
                    <a href="/lesson2">
                        שיעור 2 :יסודות דוקר - 29 דקות
                       
                    </a>
                </li>
                <hr>
                <li>
                    <a href="/lesson3">
                        שיעור 3 :יצירה וניהול קונטיינרים - 16 דקות
                    </a>
                </li>
                <hr>
                <li><a href="/lesson4"> שיעור 4 : עבודה עם אימגים - 29 דקות</a></li>
                <hr>
                <li><a href="/lesson5"> שיעור 5 : יסודות הרשת של דוקר - 37 דקות</a></li>
                <hr>
                <li><a href="/lesson6">שיעור 6 : דוקר ווליום - 30 דקות  </a></li>
            </ul>
        </nav>
    <main style="display: flex; justify-content: space-between; padding: 50px;">

    <div  class="about">
       על הקורס :
        הקורס שלי נותן מענה קל, פשוט, נוח ונגיש לכל מי שמעוניין ללמוד Docker.
כאן בקורס הכנתי את כל הנושאים המקצועיים הבסיסיים שצריך לדעת על מנת להצליח להבין ולהשתמש בDocker בצורה מקצועית ואיכותית.
הקורס מכיל בתוכו 6 שיעורים בעברית, אורך הקורס הוא כשעתיים וחצי, אני מוביל את השיעורים (יחד עם מצגות ושיתוף מסך) כל שיעור מחולק לנושאים, כך שזה גם נוח למי שרוצה להתמקד בנושאים ספציפיים  .
 

        

    </div>
    <div class="this">
        קורס Docker הינו קורס בתשלום
        מחיר הקורס : 0 ש"ח
        מלבד סרטון ההקדמה שמסביר ומפרט על מהות הקורס , שאר הסרטונים ייפתחו לאחר ההרשמה 
        <section" id="signup">
        <h2>הרשמה לקורס</h2>
        <form>

            <label for="full-name">שם מלא:</label>
            <input type="text" id="full-name" name="full-name" required>
            <label for="phone">טלפון:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">אימייל:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="להרשמה לחץ כאן">
        <p>כבר רשום? <a href="#">לחץ כאן</a></p>
    </form>
    </section>
    </div>
    
    </main>
</div>
</body>
</html>
