<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>עמית חברון Docker קורס</title>
</head>
<body>
    <header>
        <h1>בעברית - בהובלת עמית חברון Docker קורס </h1>
    </header>
    <div class="container">
        <nav class="side-nav">
            <ul>
                <li><a href="#">הקדמה כללית לקורס</a></li>
                <li>
                    <a href="/lesson1">
                        שיעור 1 :מבוא לדוקר - 12 דקות
                       
                    </a>
                </li>
                <hr>
                <li>
                    <a href="/lesson2">
                        שיעור 2 :יסודות דוקר - 29 דקות
                       
                    </a>
                </li>
                <hr>
                <li>
                    <a href="/lesson3">
                        שיעור 3 :יצירה וניהול קונטיינרים - 16 דקות
                    </a>
                </li>
                <hr>
                <li><a href="/lesson4"> שיעור 4 : עבודה עם אימגים - 29 דקות</a></li>
                <hr>
                <li><a href="/lesson5"> שיעור 5 : יסודות הרשת של דוקר - 37 דקות</a></li>
                <hr>
                <li><a href="/lesson6">שיעור 6</a></li>
                <hr>
                <li><a href="/lesson7">שיעור 7</a></li>
                <hr>
                <li><a href="/lesson8">שיעור 8</a></li>
                <hr>
                <li><a href="/lesson9">שיעור 9</a></li>
                <hr>
                <li><a href="/lesson10">שיעור 10</a></li>
                <hr>
                <li><a href="/lesson11">שיעור 11</a></li>
                <hr>
                <li><a href="/lesson12">שיעור 12</a></li>
                <hr>
                <li><a href="/lesson13">שיעור 13</a></li>
                <hr>
                <li><a href="/lesson14">שיעור 14</a></li>
                <hr>
                <li><a href="/lesson15">שיעור 15</a></li>
            </ul>
        </nav>
    <main style="display: flex; justify-content: space-between; padding: 50px;">

    <div  class="about">
        על הקורס :
        הקורס שלי נותן מענה קל, פשוט, נוח ונגיש לכל מי שמעוניין ללמוד Docker.
        כאן בקורס הכנתי את כל הנושאים המקצועיים שצריך לדעת על מנת להצליח להבין ולהשתמש בDocker בצורה מקצועית ואיכותית.
        הקורס מכיל בתוכו 15 שיעורים בעברית, אני מוביל את השיעורים (יחד עם מצגות ושיתוף מסך) שבכל שיעור אני עובר על כמה נושאים ספיציפיים, כך שזה גם נוח אם אתה רוצה להתמקד בנושא ספציפי אחד שאתה רוצה לחזק.
        

    </div>
    <div class="this">
        קורס Docker הינו קורס בתשלום
        מחיר הקורס : 0 ש"ח
        מלבד סרטון ההקדמה שמסביר ומפרט על מהות הקורס עצמה, שאר הסרטונים ייפתחו לאחר ההרשמה 
        <section" id="signup">
        <h2>הרשמה לקורס</h2>
        <form>

            <label for="full-name">שם מלא:</label>
            <input type="text" id="full-name" name="full-name" required>
            <label for="phone">טלפון:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="email">אימייל:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="להרשמה לחץ כאן">
        <p>כבר רשום? <a href="#">לחץ כאן</a></p>
    </form>
    </section>
    </div>
    
    </main>
</div>
</body>
</html>
