
{% extends "base.html" %}

{% block content %}

<div class="container">
    <nav class="side-nav">
        <ul>
            <a href="/lesson6">    
                שיעור 6 :  Docker volume
                <ul>
                    <li> </li>
                    <li>מה זה Docker volume</li>
                    <li>יצירה וניהול של ווליום </li>
                    <li>שיתוף נתונים בין קונטיינרים</li>
                </ul>   
            </a>
            </li>
        </ul>
    </nav>
    <div style="width: 100%;">
      
        <iframe src="https://drive.google.com/file/d/1gNobVqNmQKKMaA-YoC51h6WuVSc8_NFg/preview" width="640" height="480"
            allow="autoplay" width="800" height="600"></iframe>
    </div>
</div>
{% endblock %}


