{% extends "base.html" %}

{% block content %}

<div class="container">
    <nav class="side-nav">
        <ul>
            <li> </li>
            <a href="/lesson1">
                שיעור 1 :מבוא לדוקר - 12 דקות
                <ul>
                    <li> </li>
                    <li>מה זה דוקר?</li>
                    <li>יתרונות השימוש בדוקר</li>
                    <li>ההבדל בין דוקר לבין מכונה וירטואלית</li>
                </ul>
            </a>
            </li>
        </ul>
    </nav>
    <div style="width: 100%;">
       
        <iframe src="https://drive.google.com/file/d/1TDQ8e0fq3hlrhykDT7Tq6jtsvIbh_4nC/preview" width="640" height="480"
            allow="autoplay" width="800" height="600"></iframe>
    </div>
</div>
{% endblock %}